* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", san-serif;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  position: relative;
}

.container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.container .card {
  width: 450px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.02);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.container .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.5;
  transition: 0.5s;
}

.container .card:hover .content {
  opacity: 1;
  transform: translateY(-20px);
}

.container .card .content .image-box {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.25);
}

.container .card .content .image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card .content .content-box p {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 0.2em;
}

.container .card .content .content-box span {
  font-size: 16px;
  font-weight: 300;
  text-transform: initial;
}

.container .card .icons {
  position: absolute;
  bottom: 50px;
  display: flex;
}

.container .card .icons li {
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.1s * var(--i))
}

.container .card:hover .icons li {
  transform: translateY(30px);
  opacity: 1;
}

.container .card .icons li a {

  font-size: 24px;
}
