* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', san-serif;
}

.background-color {
  width: 28em;
  height: 45em;
  border-radius: 8px;
  overflow: hidden;
  background-color: #FFF;
}
